<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Wind</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="icon" href="/frontend/logo/wind_logo.ico" type="image/x-icon" />
  <script src="https://kit.fontawesome.com/2c10079fa4.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/frontend/CSS/getUserGuilds2.css">
</head>

<body>
  <nav><a class="LinkType" style="text-decoration: none;" href="/">
      <div class="logo noselect">
        <img class="noselect" src="/frontend/logo/wind_logo.png"> Wind
      </div>
    </a>
    <div class="openMenu noselect"><i class="fa fa-bars"></i></div>
    <ul class="mainMenu noselect">
      <li><a href="/logout" class="active"><i class="fa fa-sign-out"></i> Wyloguj</a></li>
      <li><a class="active" href="/"><i class="fas fa-home"></i> Home</a></li>
      <li><a
          href="https://discord.com/api/oauth2/authorize?client_id=1095444107872174110&permissions=8&scope=bot%20applications.commands"><i
            class="far fa-list-alt"></i> Zaproś</a></li>
      <li><a href="https://discord.gg/DKnSYM3t8e" target="_none"><i class="fas fa-headset"></i> Support</a></li>
      <div class="closeMenu noselect"><i class="fa fa-times"></i></div>
    </ul>
  </nav>
  <br><br>
  <div class="grid">
    <div class="card">
      <a class="LinkType" style="text-decoration: none;" href="/servers/<%= guild.id %>/ticket">
        <span class="icon"><i class="fas fa-ticket"></i></span>
        <h4>Ticket</h4>
        <p>
       Ustaw ticket aby można było na twoim serwerze zgłaszać problemy, użytkowników




        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="LinkType" style="text-decoration: none;" href="/servers/<%= guild.id %>/weryfikacja">
        <span class="icon"><i class="fas fa-square-check"></i></span>
        <h4>Weryfikacja</h4>
        <p>
         Ustaw weryfikację aby twój serwer był bardziej bezpieczny.

        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="LinkType" style="text-decoration: none;" href="/servers/<%= guild.id %>/logi">
        <span class="icon"><i class="fa-solid fa-database"></i></span>
        <h4>Logi</h4>
        <p>
         Ustaw logi aby zobaczyć co się dzieje na na twoim serwerze jako administrator.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="LinkType" style="text-decoration: none;" href="/servers/<%= guild.id %>/statystyki">
        <span class="icon"><i class="fas fa-chart-simple"></i></span>
        <h4>Statystyki</h4>
        <p>
         Ustaw statystyki aby zobaczyć ile masz użytkowników  na swoim serwerze.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
      </a>
    </div>
    <div class="card">
      <a class="LinkType" style="text-decoration: none;" href="/servers/<%= guild.id %>/lobby">
        <span class="icon"><i class="fa-solid fa-door-open"></i></span>
        <h4>Lobby</h4>
        <p>
         Ustaw lobby aby po każdym dołączeniu lub opusczeniu została wysłana wiadomość.
        </p>
        <div class="shine"></div>
        <div class="background">
          <div class="tiles">
            <div class="tile tile-1"></div>
            <div class="tile tile-2"></div>
            <div class="tile tile-3"></div>
            <div class="tile tile-4"></div>

            <div class="tile tile-5"></div>
            <div class="tile tile-6"></div>
            <div class="tile tile-7"></div>
            <div class="tile tile-8"></div>

            <div class="tile tile-9"></div>
            <div class="tile tile-10"></div>
          </div>

          <div class="line line-1"></div>
          <div class="line line-2"></div>
          <div class="line line-3"></div>
        </div>
    </div>
    </a>
  </div>

  <div class="footer">
    wind &copy; 2023 (@doniczka)🐱‍👤<br> <i class="fas fa-server"></i>
    <%= client.guilds.cache.size %> servers
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>