<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wind</title>
    <link rel="icon" href="/frontend/logo/wind_logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/frontend/CSS/getUserGuilds.css">
    <script src="https://use.fontawesome.com/148530e2a4.js"></script>
    <style>
        .scrollable-list {
            max-height: 300px;
            /* Ustaw maksymalną wysokość listy */
            overflow-y: auto;
            /* Dodaj pionowe przewijanie, jeśli zawartość przekracza dostępną przestrzeń */
        }
    </style>
</head>

<body>
    <div class="container">
        <ul>
            <img src="<%= avatar %>" alt="User Avatar" width="65px" height="65px">
            <li>Username: <%= username %>
            </li>
            <li>Discriminator: <%= discriminator %>
            </li>
            <li>ID: <%= id %>
            </li>
           
        </ul>
       <div class="prawygorny"> <a href="/logout">Logout</a> </div>

       
        <p>Twoje serwery:</p>
        <ul class="list-group scrollable-list">
            <% for (var i=0; i < guilds.length; i++) { %>
                <% if (guilds[i].hasPerm) { %>
                    <li class="list-group-item">
                        <div class="d-flex align-items-center">
                            <img src="<%= guilds[i].avatar %>" width="35px" height="35px" class="mr-2">
                            <% if (noBotGuilds.some((guild) => guild.id === guilds[i].id)) { %>
                                <%= guilds[i].name %>
                            <% } else { %>
                                <a href="<%= adminGuilds.some((guild) => guild.id === guilds[i].id) ? `/getUserGuilds/${guilds[i].id}` : `/getUserGuilds/${guilds[i].id}` %>">
                                    <%= guilds[i].name %>
                                </a>
                            <% } %>
                            <% if (!adminGuilds.some((guild) => guild.id === guilds[i].id) && noBotGuilds.some((guild) => guild.id === guilds[i].id)) { %>
                                <br>
                                <i class="fa fa-sign-in ikonki" aria-hidden="true"></i>
                                <a href="https://discord.com/oauth2/authorize?client_id=<%= process.env.CLIENT_ID %>&scope=bot&guild_id=<%= guilds[i].id %>" >Invite Bot</a>
                            <% } %>
                        </div>
                    </li>
                <% } %>
            <% } %>
        </ul>





        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>